main { 
	
	padding:2.5px;
	width:65%;
	background-color:#E2DED8;
}

nav {
	text-align: left; 
	margin-left: auto; 
	margin-right: 1.5rem;
	padding: 20px;
}

.navbutton {
	background-color: black;
}

body {
	padding:5px;
	background-color: #D3CEC4;
}

h1 {
	margin: auto;
}

sub {
	margin: auto;
}